body {
  background-color: rgb(196, 195, 195);
}

.head {
  height: 63px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 215, 215);
  position: relative;
}

.image {
  margin-left: 150px;
  margin-top: 7px;
  display: inline;
  position: absolute;
}

.navigation {
  height: 63px;
  width: 100%;
  display: inline-flex;
  margin-top: 30px;
  margin-left: 300px;
  justify-content: left;
  position: absolute;
}

.search {
  align-items: top;
  display: inline-flex;
}

.login {
  white-space: pre;
  display: inline-flex;
  justify-content: right;
  flex-grow: 0.63;
}

.content {
  background-color: rgb(255, 255, 255);
  height: 93.5%;
  width: 84%;
  margin: auto
}

.content__links {
  display: inline-flex;
}

.content__union {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
}

.content__items {
  display: flex;
  justify-content: space-evenly;

}

a {
  margin-left: 15px;
}

li {
  margin-left: 40px;
  color: blue;
}


/* ..........grid.......... */

.wrapper {
  padding: 50px;
  height: 600px;
}

.container {
  max-width: 1340px;
  max-height: 600px;
  margin: 0 auto;
}

.item {
  font-size: 40px;
}

.grid-1 {
  display: grid;
  gap: 30px;
  grid-template:
    "transport helth helth"400px"transport helth helth "100px "transport footer1 footer2"200px / 320px 320px 320px .3fr;
}

.grid-1__item--transport {
  grid-area: transport;
}

.grid-1__item--helth {
  grid-area: helth;
}

.grid-1__item--footer1 {
  grid-area: footer1;
}

.grid-1__item--footer2 {
  grid-area: footer2;
}

.grid-1__1 {
  display: grid;
  gap: 30px;
  grid-template:
    "study"243px "new "243px "mos"215px / 300px;
}

.grid-1__item--study {
  grid-area: study;
}

.grid-1__item--new {
  grid-area: new;
}

.grid-1__item--mos {
  grid-area: mos;
}

.example_image {
  width: 360px;
  margin-top: 403px;
}

.gradient {
  display: block;
  overflow: hidden;
  width: 320px;
  height: 600px;
  position: absolute;
  top: 155px;
  left: 262px;
  background: transparent;
  background-image: linear-gradient(#f2e8c9 75%, #f2e8c9e7, #f2e8c900);
  z-index: 1;
}

.grid__anim {
  overflow: hidden;
}

.grid__anim img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.grid__anim img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.example_image::before {
  width: 200px;
  height: 200px;
  background-color: #333;
}

.example_image1 {
  height: 600px;
}

.gradient_1 {
  display: block;
  overflow: hidden;
  width: 670px;
  height: 350px;
  position: absolute;
  top: 340px;
  left: 612px;
  background: transparent;
  background-image: linear-gradient(to top, #000000 30%, #00000000);
  z-index: 1;
}
.grid-1__item{
  overflow: hidden;
}
.example_image3 {
  height: 250px;
}
.date_name{
  font-size: 14px;
  align: left;
  color: rgb(65, 134, 76);
}
h2{
  margin-top: 10px;
  font-size: 25px;
  z-index: 3;
}
time{
  color: brown;
  padding-right: 20px;
}
.text_osn{
  margin-left: 30px;
  margin-top: 200px;
  color: #f2e8c9;
}
.text_osn2{
  color: #333;
  padding-left: 15px;
  padding-top: 50px;
  font-size: 26px;
  line-height:35px
}
